#button{
    font-size:20px;
    color:whitesmoke;
    background-color: rgb(15, 146, 207);
    z-index:1;
    position: fixed;
    vertical-align: middle;
    text-align: center;
    width: 200px;
    height: 100px;
    left:700px;
    top:200px;
    border-radius: 10%;
}
#button2{
    font-size:20px;
    width: 200px;
    height: 100px;
    color:whitesmoke;
    background-color: rgb(226, 10, 143);
    z-index:1;
    position: fixed;
    vertical-align: middle;
    text-align: center;
    left:400px;
    top:200px;
    border-radius: 10%;
}
h1{
    color: fuchsia;
    z-index:1;
    font-size:50px;
    position: relative;
    vertical-align: middle;
    text-align: center;
    margin-top: 100px;
    
}
#button:hover {
    background-color: rgb(15, 146, 207);
  }
#button2:hover {
    background-color: rgb(133, 8, 85);
  }
  .slideshow {
    list-style-type: none;
  }
  
  /** SLIDESHOW **/
  .slideshow,
  .slideshow:after { 
      top: -16px; /*Not sure why I needed this fix*/
    position: fixed;
      width: 100%;
      height: 100%;
      left: 0px;
      z-index: 0; 
  }
  
  .slideshow li span { 
    position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      color: transparent;
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      opacity: 0;
      z-index: 0;
      animation: imageAnimation 15s linear infinite 0s; 
  }
  
  
  
  .slideshow li:nth-child(1) span { 
      background-image: url("FB_IMG_1672109467876.jpg"); 
  }
  .slideshow li:nth-child(2) span { 
      background-image: url("FB_IMG_1674291314835.jpg");
      animation-delay: 6s; 
  }
  .slideshow li:nth-child(3) span { 
      background-image: url("FB_IMG_1674291392004.jpg");
      animation-delay: 12s; 
  }
  .slideshow li:nth-child(4) span { 
      background-image: url("FB_IMG_1674291398842.jpg");   
      animation-delay: 18s; 
  }
  .slideshow li:nth-child(5) span { 
      background-image: url("FB_IMG_1674291402832.jpg");
      animation-delay: 24s; 
  }
  .slideshow li:nth-child(6) span { 
    background-image: url("FB_IMG_1674291354674.jpg");
    animation-delay: 30s; 
}
  
  
  
  @keyframes imageAnimation { 
      0% { opacity: 0; animation-timing-function: ease-in; }
      8% { opacity: 1; animation-timing-function: ease-out; }
      17% { opacity: 1 }
      25% { opacity: 0 }
      100% { opacity: 0 }
  }
  
  
  @keyframes titleAnimation { 
      0% { opacity: 0 }
      8% { opacity: 1 }
      17% { opacity: 1 }
      19% { opacity: 0 }
      100% { opacity: 0 }
  }
  
  
  .no-cssanimations .cb-slideshow li span {
      opacity: 1;
  }